<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lista de Tarefas</title>
</head>

<body>
    <header>
        <% if(task==null) { %>
            <form action="/create" method="post">
                <input type="text" name="task" id="task" placeholder="insira uma tarefa">
                <button type="submit" id="addButton">Adicionar</button>
            </form>
            <% } else { %>
                <form action="/updateOne/<%= task._id %>" method="post">
                    <input type="text" name="task" id="task" value="<%= task.task %>">
                    <button type="submit" id="addButton">Atualizar</button>
                </form>
                <% } %>
    </header>

    <section id="tasks">
        <ul><!--loop para retornar a lista de tarefas-->
            <% taskList.forEach((task)=> { %>
                <li>
                    <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>
                            <a href="/getById/<%= task._id %>">Editar</a>
                            <a href="">Apagar</a>
                </li>
                <% } )%>
        </ul>
    </section>
</body>

</html>